<ul class="menu-title-logged">
	<% if current_user %>
	<li id="new-recipe"><%= link_to "<i class='fa fa-plus-square-o'></i> Nueva receta".html_safe, new_recipe_path %></li>
	<li id="bio-chef">
		<img src="https://s3.amazonaws.com/uifaces/faces/twitter/mizko/128.jpg">
		<ul>
			<li><%= link_to "Perfil de usuario", profile_path %></li>
			<li><%= link_to "Mi libro de cocina", favorite_recipes_path %></li>
			<li><%= link_to "Cerrar sesión", logout_path %></li>
		</ul>
	</li>
	<li>
		<%= form_tag search_recipes_path do %><%= text_field_tag "query" %><%= submit_tag "Search", :style=>"display:none" %><% end %>
	</li>
	<% else %>
	<li id="sign-up"><%= link_to "Registro de usuario", new_user_path %></li>
	<li id="log-in"><%= link_to "Iniciar sesión", login_path %></li>
	<li>
		<%= form_tag search_recipes_path do %><%= text_field_tag "query" %><%= submit_tag "Search", :style=>"display:none" %><% end %>
	</li>
	<% end %>
</ul>
